[Unit]
Description=ATLAS2 Enhanced Asset Discovery Service
ConditionPathExists=/etc/atlas2

[Service]
Type=oneshot
ExecStart=/usr/bin/atlas2_service [PATH TO MASTER PSU CSV] /etc/atlas2 \
  -t 8 -f -c -r \
  -a [PATH TO ALLOWLISTS DIRECTORY] \
  -b [PATH TO MASTER CRAWLER BLOCKLIST]

